.headerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.topBarHolder {
  transition: all 0.3s ease;
  overflow: hidden;
  max-height: 60px;
  opacity: 1;
}

.isScrolled .topBarHolder {
  max-height: 0;
  opacity: 0;
}

@media (max-width: 900px) {
  .topBarHolder {
    display: none;
  }
}
